<div class="container-fluid bg-black">
    <div class="row custom-header">
        <div class="col-12">
            <div class="header d-felx align-items-center justify-content-between p-3">
                <img src="assets/starwars-logo.png" class="custom-img mx-auto ">
                <div class="ml-auto">
                    <button class="btn btn-link text-secondary text-decoration-none fw-medium">LOG IN</button><button
                        class="btn btn-link text-secondary text-decoration-none fw-medium">SIGN UP</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row border border-secondary">
        <div class="col-12 ">
            <nav class="navbar bg-black">
                <div class="container-fluid ">
                    <div class="d-flex w-100 justify-content-center">
                        <button
                            class="btn btn-link text-secondary text-decoration-none fw-medium border border-secondary">HOME</button>
                        <button
                            class="btn btn-link text-secondary text-decoration-none fw-medium border border-secondary">STARSHIPS</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>