.custom-img {
  max-width: 200px;
}
.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header.d-flex {
  align-items: center;
}
.header.d-flex.flex-column {
  align-items: flex-end;
}
.text-button {
  color: #a4a4a4;
  transition: color 0.3s;
}
.text-button:hover {
  color: white;
}
