<div
    class="container-fluid bg-black custom-presentacio background-imatge d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center">
            <img src="assets/starwars-logo.png" class="custom-img mb-4">
            <button class="btn btn-link text-button text-decoration-none fw-medium" [routerLink]="['/naus']">
                STARSHIPS
            </button>
        </div>
    </div>
</div>


<!-- <div
    class="container-fluid bg-black custom-presentacio background-imatge d-flex justify-content-center align-items-center">
    <div class="row justify-content-center p-5">
        <div class="col-4 d-flex flex-column align-items-center">
            <img src="assets/starwars-logo.png" class="custom-img mb-4">
            <button class="btn btn-link text-button text-decoration-none fw-medium" [routerLink]="['/naus']">
                STARSHIPS
            </button>
        </div>
    </div>
</div> -->