.custom-presentacio {
  min-height: calc(100vh - 220px);
  min-width: calc(100vw);
}

.custom-img {
  max-width: 300px;
}
.text-button {
  color: #a4a4a4;
  transition: color 0.3s;
}
.text-button:hover {
  color: white;
}
.background-imatge {
  background-image: url("/assets/background.webp");
  background-size: cover;
  background-position: center;
}
