:host {
  background-color: #000;
  display: block;
  min-height: 100vh;
}
.btn-black {
  color: #a4a4a4;
}

.fitxes {
  color: white;
  background-color: black;
}
.text-card {
  color: #a4a4a4;
}
h2 {
  color: #efefef;
  margin-bottom: 2rem;
}
p {
  color: #a4a4a4;
}
.custom-size {
  font-size: 20px !important;
}
