@if (!nauSeleccionada()) {
<div class="fitxes d-flex flex-column align-items-center gap-1">
    @for (nau of naus(); track { $index }) {
    <div class="card text-card p-3 mt-3 bg-dark" style="width: 60rem;" (click)="mostraDetallNau(nau)">
        <strong>{{nau.name}}</strong>
        <span>{{nau.model}}</span>
    </div>
    }
    <div style="width: 60rem;">
        <button (click)="carregaMesNaus()" class="btn btn-dark btn-black fw-bold mt-4 mb-5">View More</button>
    </div>
</div>

} @else {
<div style="background-color: black; padding-top: 10rem; overflow-x: hidden;">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-content-center">
            <img [src]="nauImatgeUrl()" alt="Imatge nau" class="img-fluid" style="max-width: 100%; height: auto;"
                (error)="fallbackImage($event)">
        </div>
        <div class="col-md-6 d-flex justify-content-center ">
            <div class="details p-3 bg-dark rounded-3" style="width: 40rem;">
                <h2>{{nauSeleccionada()?.name}}</h2>
                <p><strong>Model:</strong> {{nauSeleccionada()?.model}}</p>
                <p><strong>Manufacturer:</strong> {{nauSeleccionada()?.manufacturer}}</p>
                <p><strong>Cost in Credits:</strong> {{nauSeleccionada()?.cost_in_credits}}</p>
                <p><strong>Length:</strong> {{nauSeleccionada()?.length}}</p>
                <p><strong>Max Atmosphering Speed:</strong> {{nauSeleccionada()?.max_atmosphering_speed}}</p>
                <p><strong>Crew:</strong> {{nauSeleccionada()?.crew}}</p>
                <p><strong>Passengers:</strong> {{nauSeleccionada()?.passengers}}</p>

                <!-- llista de pilots associats a la nau  -->

            </div>
        </div>
        @if (pilots().length > 0 ) {
        <div class="col-md-12 d-flex flex-column align-items-center ">
            <div>
                <h3 class="mt-4 p-4">Pilots</h3>
            </div>
            <div class="d-flex flex-wrap">
                @for (pilot of pilots(); track pilot.url) {
                <app-pilot [pilot]="pilot"></app-pilot>
                }
            </div>

        </div>
        }
        <div class="d-flex flex-column align-items-center mt-5">
            <button (click)="tornarLlistaNaus()" class="btn btn-dark btn-black fw-bold mt-4 mb-5 align-self-center"
                style="width: 8rem;"><i class="bi bi-arrow-left custom-size me-2"> </i> BACK</button>
        </div>
    </div>
</div>

}