<div class="container bg-black custom-login">
    <div class="row justify-content-center p-5">
        <div class="col-4 text-login bg-dark p-4 rounded">
            <h2 class="mb-4">Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                    <label for="email" class="form-label text-login">Email</label>
                    <input type="email" id="email" formControlName="email" class="form-control">
                    @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')) {
                    <div class="text-danger">L'email és obligatori.</div>
                    }
                    @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')) {
                    <div class="text-danger">Introdueix un email vàlid.</div>
                    }
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label text-login">Password</label>
                    <input type="password" id="password" formControlName="password" class="form-control">
                    @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')) {
                    <div class="text-danger">La contrasenya és obligatòria.</div>
                    }
                    @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('minlength')) {
                    <div class="text-danger">La contrasenya ha de tenir almenys 6 caràcters.</div>
                    }
                </div>

                <button type="submit" class="btn btn-secondary" [disabled]="loginForm.invalid">Login</button>

                @if (errorMessage) {
                <div class="alert alert-danger mt-3">{{ errorMessage }}</div>
                }
            </form>
        </div>
    </div>
</div>